extends ../layout

block content
  table.table.table-hover
    thead
      tr
        th Project
        th Supported
        th Build
        th npm
        th Dependencies
    tbody
      tr
        td fwd
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
          img(src='https://img.shields.io/badge/version-0.0.5-blue.svg')
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td jira-js
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td moment-natural
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td todo-js
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td css-test
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
      tr
        td ncss
        td
          img(src='https://img.shields.io/badge/project-abandoned-red.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td jacss
        td
          img(src='https://img.shields.io/badge/project-abandoned-red.svg')
        td
          img(src='https://img.shields.io/travis/wasche/jacss.svg', title='Build Status')
      tr
        td gocss
        td
          img(src='https://img.shields.io/badge/project-abandoned-red.svg')
      tr
        td node-easy-auth
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
          img(src='https://img.shields.io/travis/wasche/node-easy-auth.svg', title='Build Status')
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td node-easy-config
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td node-vcal
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td widget-calendar
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td logbot
        td
          img(src='https://img.shields.io/badge/project-abandoned-red.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td kbot
        td
          img(src='https://img.shields.io/badge/project-abandoned-red.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
      tr
        td overlay-js
        td
          img(src='https://img.shields.io/badge/project-maintained-brightgreen.svg')
        td
        td
        td
          img(src='https://img.shields.io/david/wasche/fwd.svg', title='Dependencies')
