doctype html
html(lang=en)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Wil Asche')

    title Wil Asche

    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    block styles

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    .container
      block content

    footer
      p &copy Wil Asche 2013
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/lib/bootstrap/js/bootstrap.js')
    block scripts
